.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.search-margin {
  margin-bottom:10px;
}

.global-error-margin {
  margin: 20px;
}

.input.login {
    max-width: 500px;
}

.input-form {
    max-width: 500px;
}

.car-map-item {
  padding: 4px;
}

.status-margin {
  margin-left: -20px;
}

.status-margin-bolt {
  margin-left: -10px;
}

.car-margin {
  margin-top: 10px;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
  width: 100%;
}

.map__container {
  height: calc(100vh - 100px);
}

.table-header-bg {
  background-color: #6c757d;
  color: white;
}